// Xcode configuration file for DrawDemo

VISIBLE_VERSION_NUMBER = 1.0b03

	// To verify this project does not rely on symbols unavailable in its minimum OS version (i.e., its MACOSX_DEPLOYMENT_TARGET), temporarily set the following constant to 1 and rebuild all configurations from scratch. You will get a warning you are doing the test, but all other warnings indicate use of something beyond what is available in this project's minimum OS.
CHECKING_AGAINST_MIN_OS = 0


// Standard Build Settings
GCC_PREPROCESSOR_DEFINITIONS = qCheckingAgainstMinimumOS=$(CHECKING_AGAINST_MIN_OS)


// $HeadURL: http://graham@jasonjobe.com/drawkit/DrawDemo/Trunk/Source/DrawDemo.xcconfig $
// $LastChangedRevision: 1025 $
// $LastChangedDate: 2008-04-21 00:40:29 +1000 (Mon, 21 Apr 2008) $
// $LastChangedBy: graham $